@page "/products/create"
@inject AppDbContext _context

<h1>New Product</h1>

<EditForm Model="_model">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <InputText class="form-control" typeof="text" id="Title" @bind-Value="_model.Titulo"></InputText>
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label">Price</label>
        <InputNumber class="form-control" typeof="number" id="Price" @bind-Value="_model.Price"></InputNumber>
    </div>

    <div class="mb-3">
        <label for="CategoryId" class="form-label">CategoryId</label>
        <InputSelect class="form-control" id="CategoryId" @bind-Value="_model.CategoryId">
            @foreach(var category in _categories)
            {
                <option value="@category.Id">
                    @category.Title
                </option>
            }
        </InputSelect>
    </div>

    <button class="btn btn-success" type="submit">Save</button>
</EditForm>

@code {
    public Product _model = new();
    public List<Category> _categories = new();

    async Task HandleSubmitAsync()
    {

    }

    protected override async Task OnInitializedAsync()
    {
       _categories = await _context.Categories.ToListAsync();
    }
}
