@model Cliente

<form asp-controller="Cliente" asp-action="GetPets">
    <label>Digite o código ID</label>
    <input asp-for="Id" />
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>